<% if ((currentUser) && (currentUser.admin)) { %>
<!--     <footer class="section-footer bg-white shadow"> <p class="text-muted mb-0">  © 2022 Copyright: <a class="text-dark" href="https://glitch.com/@bowenlly">Bowenlly</a>. All rights reserved. </p> <div> </div> </footer> -->
<% } else { %>
<footer class="section-footer bg-white shadow">
   <div class="container">
      <section class="footer-main py-5">
         <div class="row">
            <aside class="col-lg col-md-4 col-6">
               <h6 class="title">Help</h6>
               <ul class="list-menu mb-4">
                  <li> <a href="#"> Live chat </a> </li>
                  <li> <a href="#"> Help center </a> </li>
                  <li> <a href="#"> Call center </a> </li>
                  <li> <a href="#"> FAQs </a> </li>
               </ul>
            </aside>

            <aside class="col-lg col-md-4 col-6">
               <h6 class="title">About</h6>
               <ul class="list-menu mb-4">
                  <li> <a href="#"> About company </a> </li>
                  <li> <a href="#"> Career </a> </li>
                  <li> <a href="#"> Find a store </a> </li>
                  <li> <a href="#"> Rules and terms </a> </li>
                  <li> <a href="#"> Sitemap </a> </li>
               </ul>
            </aside>
 
            <aside class="col-lg col-md-4 col-6">
               <h6 class="title"> Information </h6>
               <ul class="list-menu mb-4">
                  <li> <a href="#"> Help Center </a> </li>
                  <li> <a href="#"> Money refund </a> </li>
                  <li> <a href="#"> Order status </a> </li>
                  <li> <a href="#"> Shipping info </a> </li>
                  <li> <a href="#"> Open dispute </a> </li>
               </ul>
            </aside>

            <aside class="col-lg col-md-4 col-6">
               <h6 class="title"> Partnership </h6>
               <ul class="list-menu mb-4">
                  <li> <a href="#"> Investors </a> </li>
                  <li> <a href="#"> Advertising </a> </li>
                  <li> <a href="#"> Internshops </a> </li>
                  <li> <a href="#"> Get quote </a> </li>
               </ul>
            </aside>

            <aside class="col-lg-3 col-md-6 col-12">
               <h6 class="title">Newsletter</h6>
               <p>Stay in touch with latest updates about our products and offers </p>
               <form class="mb-3">
                  <div class="input-group"> <input class="form-control" type="text" placeholder="Email" spellcheck="false" data-ms-editor="true"> <button class="btn btn-primary" type="submit"> Join </button> </div>
               </form>
            </aside>
         </div>
        
      </section>
      <section class="footer-bottom d-flex justify-content-between border-top p-4"> <p class="text-muted mb-0">  © 2022 Copyright: <a class="text-dark" href="https://glitch.com/@bowenlly">Bowenlly</a>. All rights reserved. </p> <div> <i class="fab fa-lg fa-cc-visa"></i> <i class="fab fa-lg fa-cc-amex"></i> <i class="fab fa-lg fa-cc-mastercard"></i> <i class="fab fa-lg fa-cc-paypal"></i> </div> </section>
   </div>
</footer>

<% } %> 

<!-- <footer class="bg-light text-center text-lg-start">
  <div class="container">
    <section class="footer-bottom d-flex justify-content-between border-top"> <p class="text-muted mb-0">  © 2022 Copyright: <a class="text-dark" href="https://glitch.com/@bowenlly">Bowenlly</a>. All rights reserved. </p> <div> <i class="fab fa-lg fa-cc-visa"></i> <i class="fab fa-lg fa-cc-amex"></i> <i class="fab fa-lg fa-cc-mastercard"></i> <i class="fab fa-lg fa-cc-paypal"></i> </div> </section>
  </div>
</footer>
 -->
</body>
</html>