
<% include _header %>



  <style>
      #intro {
        background-image: url(https://mdbootstrap.com/img/new/fluid/city/008.jpg);
        height: 100vh;
      }

      /* Height for devices larger than 576px */
/*       @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      } */


    </style>
  
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
              <% errors.forEach(function(error) { %>
                <div class="alert alert-danger" role="alert">
                  <%= error %>
                </div>
              <% }) %>
              <% infos.forEach(function(info) { %>
                <div class="alert alert-info" role="alert">
                  <%= info %>
                </div>
              <% }) %>
              <article class="card-body bg-white  rounded-5 shadow-5-strong p-5">
               <h4 class="mb-4">Admin Login</h4>
                <form action="/login/admin" method="post">
                    <div class="form-outline mb-4">
                       <div class=" form-group required-field"> <label class="form-label">Username (hint:admin)</label> <input name="username" required="" type="text" class="form-control" required autofocus> </div>
                       <!-- col end.// --> 
                       <div class="form-group required-field"> <label class="form-label">Password (hint:admin)</label> <input name="password" required=""  type="password" class="form-control" required> </div>
                       <!-- col end.// --> 
                    </div>
                  <input type="submit" value="Log in" class="btn btn-primary btn-block">
                </form>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>



<% include _footer %>